body {
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

a:visited {
    color: green;
}

li:nth-child(3n) {
    border: solid;
}

h1:hover {
    background-color: gold;
}