h2{
    background: linear-gradient(#47FFFF, #FF85F9);
    max-width: 100px;
    position: relative;
    left: 30px;
}

#MainHeaderInRedFrame
{
    width: 150px;
    height: 150px;
    background-color: pink;
        border-style: dotted;
    position: sticky;
    top: 10px;
    margin: auto;

}
.AquamarineText
{color: aquamarine;
}

.lorem_puppy
{   position: relative;
    border: solid;
    border-color: black;
    width: 1200px;
    height: 500px;

}

.puppy
{float: left;
    max-width: 300px;
    max-height: 300px;
    top: 10px;
    left: 10px;

}

.lorem
{position: relative;

}

#BlackDottedFrame
{ border-style: dotted; /* it sets a border */
    border-width: 10px;    /* it sets the width of the border */
}

#GreenBackground
{ background: green;
    max-width: 60px;
    min-height: 120px;
    margin: auto;
    padding-top: 30px;
}

div {
    width: 20vmin;
    height: 20vmax;
}

p{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    height: 30px;
}

span {
    border-bottom: 2px solid green;
}